Also you can refer to solutions of previous days:

{% assign solutions = site.solutions | sort: 'date' | reverse %}
{% for solution in solutions limit 10 %}
<a href="{{ solution.url }}">{{ solution.title }}</a> - {% if solution.solved == true %}solved with <strong>{{ solution.attempts}}</strong> guesses{% else %}<strong>failed to solve</strong>{% endif %}. <a href="{{ solution.video_link }}">Video</a>
{% endfor %}

<strong>Note:</strong> showing only 10 last solutions, click <a href="all_solutions.html">here</a> to see more.