{% assign solve1 = 0 %}
{% assign solve2 = 0 %}
{% assign solve3 = 0 %}
{% assign solve4 = 0 %}
{% assign solve5 = 0 %}
{% assign solve6 = 0 %}
{% assign unsolved = 0 %}
{% assign total = 0 %}
{% for solution in site.solutions %}
{% if solution.solved == true %}
{% assign total = total | plus: solution.attempts %}
{% endif %}
{% if solution.solved != true %}
{% assign unsolved = unsolved | plus: 1 %}
{% elsif solution.attempts == 1 %}
{% assign solve1 = solve1 | plus: 1 %}
{% elsif solution.attempts == 2 %}
{% assign solve2 = solve2 | plus: 1 %}
{% elsif solution.attempts == 3 %}
{% assign solve3 = solve3 | plus: 1 %}
{% elsif solution.attempts == 4 %}
{% assign solve4 = solve4 | plus: 1 %}
{% elsif solution.attempts == 5 %}
{% assign solve5 = solve5 | plus: 1 %}
{% elsif solution.attempts == 6 %}
{% assign solve6 = solve6 | plus: 1 %}
{% endif%} 
{% endfor %}
{% assign count = solve1 |plus: solve2 | plus: solve3 | plus: solve4 | plus: solve5 | plus: solve6 | plus: unsolved %}
{% assign winningStreak = 0 %}
{% assign solutions = site.solutions | sort: 'date' | reverse %}
{% for solution in solutions %}
{% if solution.solved != true %}
{% break %}
{% endif %}
{% assign winningStreak = winningStreak | plus: 1 %}
{% endfor %}
{% assign maxStreak = 0 %}
{% assign currentStreak = 0%}
{% for solution in solutions %}
{% if solution.solved != true %}
{% if currentStreak > maxStreak %}{% assign maxStreak = currentStreak %}{% endif %}
{% assign currentStreak = 0 %}
{% else %}
{% assign currentStreak = currentStreak | plus: 1 %}
{% endif %}
{% endfor %}
Here is the statistic how the bot performs.

Guess distribution after <strong>{{ count }}</strong> games:
<table style="width: 100%">
<tr><td style="width: 20%">1 attempt</td><td style="width:80%"><div><div style="height: 20px; width: {{solve1 | times: 100.0 | divided_by: count | floor | plus: 2 }}%; background-color: #6aaa64; float: left; margin-right: 10px;"></div><div>{{ solve1 }} ({{solve1 | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
<tr><td>2 attempts</td><td><div><div style="height: 20px; width: {{solve2 | times: 100.0 | divided_by: count | floor | plus: 2}}%; background-color: #6aaa64; float: left; margin-right: 10px;"></div><div>{{ solve2 }} ({{solve2 | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
<tr><td>3 attempts</td><td><div><div style="height: 20px; width: {{solve3 | times: 100.0 | divided_by: count | floor | plus: 2}}%; background-color: #c9b458; float: left; margin-right: 10px;"></div><div>{{ solve3 }} ({{solve3 | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
<tr><td>4 attempts</td><td><div><div style="height: 20px; width: {{solve4 | times: 100.0 | divided_by: count | floor | plus: 2}}%; background-color: #c9b458; float: left; margin-right: 10px;"></div><div>{{ solve4 }} ({{solve4 | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
<tr><td>5 attempts</td><td><div><div style="height: 20px; width: {{solve5 | times: 100.0 | divided_by: count | floor | plus: 2}}%; background-color: #86888a; float: left; margin-right: 10px;"></div><div>{{ solve5 }} ({{solve5 | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
<tr><td>6 attempts</td><td><div><div style="height: 20px; width: {{solve6 | times: 100.0 | divided_by: count | floor | plus: 2}}%; background-color: #86888a; float: left; margin-right: 10px;"></div><div>{{ solve6 }} ({{solve6 | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
<tr><td>Unsolved</td><td><div><div style="height: 20px; width: {{unsolved | times: 100.0 | divided_by: count | floor | plus: 2}}%; background-color: #f5793a; float: left; margin-right: 10px;"></div><div>{{ unsolved }} ({{unsolved | times: 100.0 | divided_by: count | round: 2}} %)</div></div></td></tr>
</table>

{% assign successes = count | minus: unsolved %}
{% assign avg = total | times: 1.0 | divided_by: successes %}
In average it takes <strong>{{ avg | round: 2}}</strong> attempts for a successful solve.

<strong>{{ unsolved }}</strong> time{% if unsolved > 1 %}s{% endif %} out of <strong>{{ count }}</strong> ({{ unsolved | times: 100.0 | divided_by: count | round: 2 }}%) bot failed to guess the word.

Win rate: <strong>{{ count | minus: unsolved | times: 100.0 | divided_by: count | round: 2 }}%</strong>

Current winning streak: <strong>{{ winningStreak }}</strong>

Longest winning streak: <strong>{{ maxStreak }}</strong>

Solutions over time:
{% assign x = 20 %}
{% assign dx = 410.0 | divided_by: count %}
{% assign sols = site.solutions | sort: 'date' %}
<svg viewbox="0 0 500 430">
    <rect x="20" y="30" width="460" height="45" fill="#f5793a" fill-opacity="0.25"/>
    <rect x="20" y="75" width="460" height="100" fill="#86888a" fill-opacity="0.25"/>
    <rect x="20" y="175" width="460" height="100" fill="#c9b458" fill-opacity="0.25"/>
    <rect x="20" y="275" width="460" height="80" fill="#6aaa64" fill-opacity="0.25"/>

    <line x1="20" y1="100" x2="480" y2="100" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
    <line x1="20" y1="150" x2="480" y2="150" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
    <line x1="20" y1="200" x2="480" y2="200" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
    <line x1="20" y1="250" x2="480" y2="250" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
    <line x1="20" y1="300" x2="480" y2="300" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
    <line x1="20" y1="350" x2="480" y2="350" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
    <text x="0" y="100">6</text>
    <text x="0" y="150">5</text>
    <text x="0" y="200">4</text>
    <text x="0" y="250">3</text>
    <text x="0" y="300">2</text>
    <text x="0" y="350">1</text>

    {% assign x = 20 %}
    {% assign prevGroup = sols[0].date | date: "%V" %}
    {% for solution in sols %}
        {% assign group = solution.date | date: "%V" %}
        {% if prevGroup != group %}
        <line x1="{{ x }}" y1="40" x2="{{ x }}" y2="350" stroke="#86888a" stroke-width="1" stroke-dasharray="4"/>
        <text transform="translate({{ x }}, 360) rotate(90)">{{ solution.date | date: "%e %b" }}</text>
        {% endif %}
        {% assign prevGroup = group %}
        {% assign x = x | plus: dx %}
    {% endfor %}

    <text x="450" y="{{ avg | times: -50 | plus: 400 | minus: 10 }}" stroke="#6aaa64">Avg</text>
    {% assign x = 20 %}
    {% assign sum = 0 %}
    {% assign i = 0 %}
    <polyline fill="none" stroke="#6aaa64" stroke-width="2" stroke-linecap="round" points="
    {% for solution in sols %}
        {% assign sum = sum | plus: solution.attempts %}
        {% assign i = i | plus: 1 %}
        {% assign y = sum | times: 1.0 | divided_by: i | times: -50 | plus: 400 %}
        {{ x }},{{ y }}
        {% assign x = x | plus: dx %}
        {% if i == count %}
        480, {{ y }}
        {% endif %}
    {% endfor %}
    " />


    {% assign x = 20 %}
    <polyline fill="none" stroke="#f5793a" stroke-width="2" stroke-linecap="round" points="
    {% for solution in sols %}
        {% assign y = solution.attempts | times: -50 | plus: 400 %}
        {{ x }},{{ y }}
        {% assign x = x | plus: dx %}
    {% endfor %}
    " />
    {% assign x = 20 %}
    {% for solution in sols %}
        <circle cx="{{ x }}" cy="{{ solution.attempts | times: -50 | plus: 400 }}" r="3" fill="#f5793a" />
        {% assign x = x | plus: dx %}
    {% endfor %}
</svg>