If you would like to support this project - just buy bot a coffee:

<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="sergeytrasko" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy bot a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>

For other inquiries - just drop a <a href="mailto:sergey.trasko@gmail.com?subject=Inquiry about 'Bot Plays Wordle'">mail</a>