---
layout: sub-page
---

{% assign solutions = site.solutions | sort: 'date' %}
{% assign index = 0 %}
{% for solution in solutions %}
    {% if solution.date == page.date %}
        {% assign index = forloop.index %}
    {% endif %}
{% endfor %}
{% assign nextIndex = index | plus: 1 %}
{% assign prevIndex = index | minus: 1 %}
{% for solution in solutions %}
    {% if forloop.index == prevIndex %}
        {% assign prev = solution %}
    {% endif %}
    {% if forloop.index == nextIndex %}
        {% assign next = solution %}
    {% endif %}
{% endfor %}

<hr/>
<div>
    {% if next %}<div style="float:right;"><a href="{{ next.url }}">Next day solution #{{ next.wordle_id }}>></a></div>{% endif %}
    {% if prev %}<div><a href="{{ prev.url }}">&lt;&lt; Previous day solution #{{ prev.wordle_id }}</a></div>{% endif %}
</div>
<hr/>

{{ content }}

<h2>Video</h2>

Here is live recording of how bot tired to guess the word:

<div class="ratio ratio-16x9">
    <iframe src="{{ page.video_link | replace: "youtu.be/", "youtube.com/embed/"}}/embed/AOInQvzQS2g?sub_confirmation=1"></iframe>
</div>

<br />
Link to video - <a href="{{ page.video_link }}">{{ page.title | replace: "\", "" }}</a>